<ul>
	<li><a href="/">Home</a></li>
	<li><a href="download.html">Download</a></li>
	<li><a href="faq.html">FAQ</a></li>
	<li><a href="test.html">Test drive</a></li>
	<li><a href="extending.html">API docs</a></li>
	<li><a href="https://github.com/PrismJS/prism/">Fork Prism on GitHub</a></li>
	<li><a href="https://x.com/prismjs">Follow Prism on X</a></li>
</ul>
