{# The credits every page ends with #}
<div class="site-footer">
	<p>
		Handcrafted with &hearts;, by
		<a href="https://lea.verou.me">Lea Verou</a>,
		<a href="https://github.com/Golmote">Golmote</a>,
		<a href="https://github.com/mAAdhaTTah">James DiGioia</a>,
		<a href="https://github.com/RunDevelopment">Michael Schmidt</a>
		&amp; <a href="https://github.com/PrismJS/prism/graphs/contributors">all these awesome people</a>
	</p>
	<img src="https://lea.verou.me/logo.svg" alt="" />
</div>
