{% extends "./page.njk" %}

{% block head_extra -%}
<script>
	// Just a lil’ script to show off that inline JS gets highlighted
	console.log("foo");
</script>
{%- endblock %}

{% block header_extra -%}
<ul id="features">
	<li>
		<strong>Dead simple</strong>
		Include prism.css and prism.js, use proper HTML5 code tags (<code>code.language-xxxx</code>), done!
	</li>
	<li>
		<strong>Intuitive</strong>
		Language classes are inherited so you can only define the language once for multiple code snippets.
	</li>
	<li>
		<strong>Light as a feather</strong>
		The core is 2KB minified &amp; gzipped. Languages add 0.3-0.5KB each, themes are around 1KB.
	</li>
	<li>
		<strong>Blazing fast</strong>
		Supports parallelism with Web Workers, if available.
	</li>
	<li>
		<strong>Extensible</strong>
		Define new languages or extend existing ones. Add new features thanks to Prism’s plugin architecture.
	</li>
	<li>
		<strong>Easy styling</strong>
		All styling is done through CSS, with sensible class names like <code>.comment</code>, <code>.string</code>, <code>.property</code> etc
	</li>
</ul>
{%- endblock %}
