<!DOCTYPE html>
<html lang="en"
	data-page="{{ page.url }}"
	data-inputpath="{{ page.inputPath | replace('./', '') }}">
<head>
	{% if base %}
	<base href="{{ base }}" />
	{% endif -%}
	<title>
		{%- set main_title = title or subdomain | capitalize %}
		{{ main_title }}{{ " ▲" if main_title }} Prism {{ subdomain if subdomain | capitalize != main_title }}
	</title>
	<meta name="viewport" content="width=device-width" />
	<meta charset="utf-8" />
	<link rel="icon" href="{{ base_url }}/assets/logo.svg" />
	<link rel="stylesheet" href="{{ base_url }}/assets/style.css" />
	<link rel="stylesheet" href="https://dev.prismjs.com/themes/prism.css" />
	<script>var _gaq = [["_setAccount", "UA-33746269-1"], ["_trackPageview"]];</script>
	<script src="https://www.google-analytics.com/ga.js" async></script>

	{% block head_extra -%}{%- endblock -%}
</head>

<body class="{{ body_classes }}">
	<header>
		<div class="intro">
			<h1><a href="/"><img src="{{ base_url }}/assets/logo.svg" alt="Prism" /> {{ subdomain }}</a></h1>

			<a href="{{ base_url }}/download.html" class="download-button">Download</a>

			<p>
				Prism is a lightweight, extensible syntax highlighter, built with modern web standards in mind.
				It’s used in millions of websites, including some of those you visit daily.
			</p>
		</div>

		{% if theme_switcher -%}
		<div id="theme">
			<p>Theme:</p>
			{%- for id, theme in themes %}
			<input type="radio" name="theme" id="theme-{{ id }}" value="{{ id }}" />
			<label for="theme-{{ id }}">{{ theme.title or theme}}</label>
			{%- endfor %}
		</div>
		{%- endif %}

		{% block header_extra -%}{%- endblock -%}

		{% if title -%}
		<h2>{{ title }}</h2>
		<p>{{ (tagline or description) | safe }}</p>
		{%- endif %}
	</header>

	{% if toc and content | toc -%}
	<aside id="toc">
		<h2>On this page</h2>
		{{ content | toc | safe }}
	</aside>
	{%- endif %}

	<main>
		{% if back_to_top -%}
		{{ content | back_to_top | safe }}
		{%- else -%}
		{{ content | safe }}
		{%- endif %}
	</main>

	<footer>
		<img id="logo" src="https://lea.verou.me/logo.svg" />
		<p>Handcrafted with &hearts;, by
			<a href="https://lea.verou.me" target="_blank">Lea Verou</a>,
			<a href="https://github.com/Golmote" target="_blank">Golmote</a>,
			<a href="https://github.com/mAAdhaTTah" target="_blank">James DiGioia</a>,
			<a href="https://github.com/RunDevelopment" target="_blank">Michael Schmidt</a>
			&amp; <a href="https://github.com/PrismJS/prism/graphs/contributors" target="_blank">all these awesome people</a>
		</p>
		<nav>
			<ul>
				<li><a href="{{ base_url }}/">Home</a></li>
				<li><a href="{{ base_url }}/download.html">Download</a></li>
				<li><a href="{{ base_url }}/faq.html">FAQ</a></li>
				<li><a href="{{ base_url }}/test.html">Test drive</a></li>
				<li><a href="{{ base_url }}/extending.html">API docs</a></li>
				<li><a href="https://github.com/PrismJS/prism/">Fork Prism on GitHub</a></li>
				<li><a href="https://x.com/prismjs">Follow Prism on X</a></li>
			</ul>
		</nav>
	</footer>

	<script src="https://dev.prismjs.com/prism.js"></script>
	{% if theme_switcher -%}
	<script src="{{ base_url }}/assets/theme-switcher.js" type="module"></script>
	{%- endif %}

	{%- for resource in resources | parse_resources %}
	{{ resource | safe -}}
	{%- endfor %}
</body>
</html>
