---
layout: "plain.njk"
---

<header>
	<div class="intro">
		<h1><a href="index.html"><img src="assets/logo.svg" alt="Prism" /></a></h1>

		<a href="download.html" class="download-button">Download</a>

		<p>
			Prism is a lightweight, extensible syntax highlighter, built with modern web standards in mind.
			It’s used in millions of websites, including some of those you visit daily.
		</p>
	</div>

	{% if theme_switcher -%}
	<div id="theme">
		<p>Theme:</p>
		{%- for id, theme in allThemes %}
		<input type="radio" name="theme" id="theme-{{ id }}" value="{{ id }}" />
		<label for="theme-{{ id }}">{{ theme.title or theme}}</label>
		{%- endfor %}
	</div>
	{%- endif %}

	{% if home -%}
	{% include "features.njk" %}
	{%- endif -%}

	{% if title -%}
	<h2>{{ title }}</h2>
	<p>{{ tagline }}</p>
	{%- endif %}
</header>

{% if toc and content | toc -%}
<aside id="toc">
	<h2>On this page</h2>
	{{ content | toc | safe }}
</aside>
{%- endif %}

<main>

{% if back_to_top -%}
{{ content | back_to_top | safe }}
{%- else -%}
{{ content | safe }}
{%- endif %}

</main>
